.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  cursor: pointer;
  padding: 3px;
}

.inputOption:hover {
  background-color: whitesmoke;
}

.inputOption > h4 {
  margin-left: 5px;
  font-size: 12px;
}